# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
